.viewpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-header {
  display: flex;
  align-items: center;
}
.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.redirecttohome {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 0px 70px;
  font-size: 23px;
}
.coursenameauthornametags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #80b5f1;
  color: white;
  padding: 30px 0px 60px 30px;
  box-sizing: content-box;
}
.detail-tags {
  display: flex;
  gap: 10px;
}
.detail-tag {
  background-color: #264f73;
  padding: 3px 7px;
  font-size: 0.8rem;
  border-radius: 3px;
}
.detailswithcartbox {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.coursedescription {
  text-align: left;
  box-shadow: 2px 2px 10px grey;
  width: 70%;
  padding: 0px 5px 0px 10px;
}
.pricingcartwishlist {
  width: 30%;
  box-shadow: 2px 2px 10px grey;
  border-radius: 3px;
  text-align: left;
  padding: 10px 0px 10px 30px;
}
.detail-buttongroup {
  gap: 30px;
  display: flex;
  justify-content: center;
}
.addtocartbtn {
  background-color: #264f73;
  border-radius: 1px;
  color: white;
  height: 28px;
}
