.course-container {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 5px grey;
  margin: 1% 5px;
}

.course-title {
  width: 35%;
}

.course-author {
  width: 20%;
  align-content: center;
}
.heart-button {
  background-color: inherit;
}

.course-price {
  width: 15%;
}
.addtocart-button {
  display: flex;
  background-color: #264f73;
  font-size: 15px;
  color: #eff4f5;
  border: none;
  padding: 15px 30px;
  border-radius: 2px;
}

.tags {
  background-color: #264f73;
  color: #eff4f5;
  border-radius: 2px;
  padding: 2px 4px;
}
.tagbuttons {
  display: flex;
  justify-content: space-around;
}

.cartbutton-group {
  width: 20%;
}

.addtocart-button:hover {
  background-color: #468fcf;
}
