.course-list {
  background-color: white;
  height: 80px;
  background-color: beige;
  /* width: 80%; */
  display: grid;
  grid-template-columns: 30% 10% 20% 10% 10% 10%;
  /* justify-content: space-around; */
}
.heart-button {
  background-color: beige;
  border: none;
  outline: none;
}
.addtocart-button {
  background-color: rgba(79, 79, 192, 0.521);
  height: 35px;
  font-size: 23px;
}
