.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: rgb(30, 30, 53); */
}
.logo {
  height: 8%;
  width: 8%;
  margin-left: 2%;
}

.Nav-links {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  font-size: 22px;
}

.container {
  background-color: black;
  display: flex;
  color: white;
  font-size: 29px;
  height: 80px;
  /* justify-content: center; */
}
