.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(170, 164, 82);
}
/* .course-link {
  float: left;
  width: 1px;
  height: 0px;
} */
.logo-alternative {
  color: rgba(189, 45, 45);
}

.Nav-links {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  font-size: 22px;
}

.container {
  background-color: black;
  display: flex;
  color: white;
  font-size: 29px;
  height: 80px;
  /* justify-content: center; */
}
