.Homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: ; */
}
.sub-header {
  background-color: rgb(113, 178, 187);
  color: white;
  height: 50px;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}
.course-list-cart {
  width: 100%;
}
